#body{
	background-color: black;
	text-align: center;
}

#divProfile
{
	background-color: green; 
	/*height: 100%;*/
}

h1{
	font-family: cursive;
}

@media screen and (max-width: 992px) {
	h1 {
		font-size: 28px;
	}
}
